body{
    background-color: #ECFAE5;
}
div{
    margin-left: -10px;
    margin-right: -10px;
}
.g1{
    background-color: #B0DB9C;
    font-size: 2rem;  

}
.g2{
    background-color: #CAE8BD;
    font-size: 1.2rem;
}
.bold{
    font-weight: bolder;
}
span{
    font-weight: bold;
}
li{
    padding: 3px;
}





