* {
    margin:0;
    padding: 0;
}

.header{
    Padding: 1.5rem;
    text-align: center;
    background-color: #1e293b;
    color: white;
}

.header h1{
    font-size: 2rem     ;
}

.intro{
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
    font-size: large;
}

#prj{
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.projects h2{
    font-weight: bold ;
}
.card{
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    
}

.card-title{
    font-weight: bold;
}

.project-link{
    text-decoration: none;
}



/* .projects {
    color: #333;
    line-height: 1.6;
    margin: auto;
    padding: 20px;#F5F2F2
} */